body {
	background: url("images/stripes.png") repeat-x, url("images/background.jpg") no-repeat;
	background-color:#53586B;
	background-size: 800px 15px, cover;
  	font-size: 20px;
  	font-family: helvetica;
  	color: ghostwhite;
  	padding: 300px;
  	line-height: 30px;
}

hr {
	width: 50px;
	margin: 0px;
	height: 3px;
	border: 0px;
	color: #905d67;
	background: #905d67;
}
