body{
	background: url("images/stripes.png") no-repeat;
	background-color:#8f2e60;
	background-size: 800px 15px, cover;
  	font-size: 20px;
  	font-family: Francois One;
  	color: ghostwhite;
  	padding: 300px;
  	line-height: 30px;

<<<<<<< HEAD
}
=======
}
>>>>>>> 3e0a69208dc8991e78dba1b07f92bf164d106a6e
